.district-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 25px;
  margin: 40px 40px 0 40px;
  padding-bottom: 50px;
  padding-top: 40px;
  border-top: 4px solid rgb(46, 46, 46);
  box-sizing: border-box;
}