.searchForm {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

input {
  width: 400px;
  height: 28px;
  padding-left: 8px;
  font-size: 1.2rem;
  font-family: monospace;
  outline: none;
}

input::placeholder {
  font-size: 1.2rem;
  font-family: monospace;
}

button {
  width: 150px;
  font-size: 1.2rem;
  font-family: monospace;
  border: none;
  background: white;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  margin-left: 50px;
  transition: .3s;
}

button:hover {
  background: rgb(236, 217, 42);
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.3);
  transition: .3s;
}